*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0f130c;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

/* PARTE DE ABAJO BARRA DE NAVEGACION*/

a{
    text-decoration: none;
    color: #ffffff;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;

}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 50px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
    color: black;
}

.nav-main{
    width: 90%;
    margin: 0 5%;
    background: #ffb300;
    border-radius: 2rem;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
    margin-left: 10px;
    border-radius: 100%;
}

.nav-brand-mini{
    width: 120px;
    margin-left: 25px;
    display: none;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    color: #000;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #000
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.nav-main ul.nav-menu-right{
    margin-right: 25px;
}

hr{
    margin: 10px 0;
}

/* PARTE DE ARRIBA BARRA DE NAVEGACION*/

.perfil{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perfil img{
    width: 500px;
    margin: 50px;
}

.section{
    background-color: #ffffff;
    color: #000;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 80px;
}

.container-carrusels{
    border: 3px solid black;
    margin: 10px;
    height: 510px;
    overflow: hidden;
}

.carrusel{
    height: 100%;
    position: relative;
}

.tarjet-carrusel{
    background-color: red;
    height: 100%;
}

.tarjet-carrusel img{
    width: 100%;
    height: 100%;
}

.section-carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
/* PARTE DE ABAJO PIE DE PAGINA */

.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

.footer img{
    width: 120px;
    margin: 10px;
    filter: invert(100%);
}

/* PARTE DE ARRIBA PIE DE PAGINA*/

@media (max-width: 720px){
    .nav-main .nav-brand{
        display: none;
    }

    .nav-brand-mini{
        display: inline;
    }

    .nav-main ul li a{
        color: #ffffff;
    }

    .menu-btn{
        display: inline;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu-right{
        margin-right: 55px;
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        border-bottom: #ccc solid 1px;
        font-size: 18px;
    }

    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }

    .footer-links .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .news-cards{
        grid-template-columns: 1fr;
    }

    .news-cards div img{
        height: 250px;
    }

    .perfil{
        flex-direction: column;
        gap: 20px;
    }
    
    .perfil img{
        width: 100%;
        margin: 0;
    }

    .section{
        padding: 100px 10px;
    }
}